{% extends 'main.html' %}

{% block content %}

    <main class="layout layout--3">
      <div class="container">

        <!-- Topics Start -->
        {% include 'base/topics_component.html'%}
        
        <!-- Topics End -->

        <!-- Room List Start -->
        <div class="roomList">
          <div class="mobile-menu">
            <form class="header__search">
              <label>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <title>search</title>
                  
                </svg>
                <input placeholder="Search for posts" />
              </label>
            </form>
            <div class="mobile-menuItems">
              <a class="btn btn--main btn--pill" href="#">Browse Topics</a>
              <a class="btn btn--main btn--pill" href="#">Recent Activities</a>
            </div>
          </div>
          <div class="roomList__header">
            <div>
              <h2>Study Room</h2>
              <p>{{room_count}} Phòng</p>
            </div>
            <a class="btn btn--main" href="{% url 'create-room'%}">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>add</title>
               
              </svg>
              Tạo Phòng 
            </a>
          </div>

          {% include 'base/feed_component.html'%}
        </div>
        <!-- Room List End -->

        <!-- Activities Start -->

        {% include 'base/activity_component.html'%}

        <!-- Activities End -->
      </div>
    </main>
{% endblock %}
