{% extends 'main.html' %}

{% block content %}
    <main class="auth layout">
      {% if page == 'login'%}
      <div class="container">
        <div class="layout__box">
          <div class="layout__boxHeader">
            <div class="layout__boxTitle">
              <h3>Login</h3>
            </div>
          </div>
          <div class="layout__body">


            <form class="form" action="" method ="POST">
              {% csrf_token %}
              <div class="form__group form__group">
                <label for="room_name">Username</label>
                <input id="username" name="username" type="text" placeholder="e.g. dennis_ivy" />
              </div>
              <div class="form__group">
                <label for="password">Password</label>
                <input
                  id="password"
                  name="password"
                  type="password"
                  placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                />
              </div>

              <button class="btn btn--main" type="submit">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                >
                  <title>lock</title>
                 
                </svg>

                Login
              </button>
            </form>

            <div class="auth__action">
              <p>Chưa có tài khoản </p>
              <a href="{% url 'register'%}" class="btn btn--link">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="container">
        <div class="layout__box">
          <div class="layout__boxHeader">
            <div class="layout__boxTitle">
              <h3>Register</h3>
            </div>
          </div>
          <div class="layout__body">

            <form class="form" action="" method ="POST">
              {% csrf_token %}
              {% for field in form %}
              <div class="form__group form__group">
                <label for="room_name">{{field.label}}</label>
                {{field}}
              </div>
              {% endfor %}

              

              <button class="btn btn--main" type="submit">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                >
                  <title>lock</title>
                 
                </svg>

                Register
              </button>
            </form>

            <div class="auth__action">

              <a href="{% url 'login'%}" class="btn btn--link">Login</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </main>
    {% endblock content %}
